/*h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.p1{
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: lighter;
    text-align: center;
    text-transform: lowercase;
    text-decoration: underline;
}*/

/**{
    padding: 0;
}

h1{
    text-align: center;
}

.box{
    width: 300px;
    height: 180px;
    background: lightblue;
    padding: 30px;
    border: 5px solid blue;
    margin: 40px auto;
    text-align: center;
    font-size: 22px;
    border-radius: 15px;
}

.static{
    position: static;
    top:50px;
    left: 50px;
}

.relative{
    position: relative;
    top: 40px;
    left:60px
}
.absolute{
    width: 20px;
    position: absolute;
    top: 20px;
    left:30px;
}*/

/*.fixed-box{
    position: fixed;
    width: 150px;
    height: 60px;
    background: green;
    color: white;
    text-align: center;
    line-height: 60px;
    bottom: 20px;
    right: 20px;
}*/

/*.sticky{
    background: blue;
    color: white;
    padding: 15px;
    position: sticky;
    top:0;
}
.c{
    height: 1500px;
}*/

/*.box{
    display: block;
    width: 200px;
    height: 50px;
    background-color: lightblue;
    margin: 10px;
}*/

/*.box{
    display: inline;
    background-color: lightgreen;
    margin: 10px;
}*/

/*.box{
    display:inline-block;
    width: 150px;
    height:100px;
    background-color:orange;
    margin:10px;
}*/

/*.hide{
    display: none;

}*/

/*.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;*/
    /*justify-content: flex-end;*/
    /* flex-direction:flex-start;*/
    /*gap: 20px
}*/

/*.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    flex-wrap: wrap-reverse;

}

.box{
    width: 200px;
    height: 100px;
    background: lightblue;
    
}*/

/*.box{
    display: grid;
    grid-template-columns: 200px, 400px;
  
    gap:20px;
}
.b{
    padding: 30px;
    background-color: beige;
    text-align: center;
}*/

/*.container {
    display: grid;

   
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.box {
    background-color: lightblue;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}*/

/*button{
    background:blue;
    color: white;
    padding:10px 20px;
    transition : background 0.5s ease, transoform 0.3s;

}

button : hover{
    background: :range;
    transform: scale(1.2);
}*/

/*.para{
    background-color:blue;
    color:white;
    padding:20px;
}

.grid-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    grid-template-rows: repeat(3, 100px);

}*/

/*.item{
    background-color:green;
    font-size:30px;
    display:grid;
    justify-content:center;
    align-items:center;
}

.outerbox{
    margin:20px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
}*/

/*.items1{*/
    /*grid-column-start: 1;
    grid-column-end: 4;*/
    /*grid-column: 2/4;*/
   /* grid-column : span 3;
}*/

/*.items2{
    grid-column:span 3;
}

.items3{
    grid-column:span 3;
}

.items4{
    grid-column:span 3;
}

.items5{
    grid-column:span 3;
}

.items6{
    grid-column:span 3;
}

.items7{
    grid-column:span 3;
}*/

.layout >div{
    border: 1px solid black;
    font-size:50px;
    display:grid;
    justify-content:center;
    align-items:center;
    background-color:hsl(359, 62%, 80%);

}

.layout{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "h h h"
                        "sb1 m sb2"
                        "f f f";
    grid-template-rows: 10vh 80vh 10vh;
}

.header{
    grid-area:h;
}

.sidebar1{
    grid-area:sb1;
}

.sidebar2{
    grid-area:sb2;
}

.content{
    grid-area:m;
}

.footer{
    grid-area:f;
}